.trials{
    //border:4px solid black;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: wheat;
    &_canvas{
        //border: 5px solid red;
        width: 100vw;
        height: 500px;
        //background-color: red;
    }
}
